<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="shortcut icon" href="../img/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermercado Noche</title>

	<link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">

		<nav class="navbar navbar-toggleable-lg fixed-top navbar-light bg-primary ">
			<a class="navbar-brand" href="#">
				<img src="../img/favicon.png" width="40" height="40" alt="">
			  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="navbar-toggler-icon"></span>
			</button> <a class="navbar-brand" href="../view/Index.html">Supermercado Noche</a>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="navbar-nav">
					<li class="navbar-light">
						 <a class="nav-link" href="../view/Index.html">Inicio<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../view/CarritoVista.html">Carrito</a>

				</li>
				<li class="nav-item">
				 <a class="nav-link" href="../view/ListaProductosVista.html">Lista De productos</a>
			</li>
				 
				   <li class="nav-item">
					<a class="nav-link" href="../view/VentasDelDiaVista.html">Ventas del día</a>
			   </li>				
			   <form class="form-inline">
				<input class="form-control mr-sm-2" id="Busca" placeholder="Buscar Producto..." type="text"> 
				<a href="../view/ListaProductosVista.html"<button Class="btn button-search my-2 my-sm-0" id="boton-busqueda" type="bttn">Buscar</button></a>
			 
			</form>
		
			</div>
			
				<input class="form " id="ingresar-id" placeholder="Ingresar ID..." type="number"> 
				<button Class="btn button-search my-2 my-sm-0" id="boton-log" type="bttn">Ingresar</button>
			 
		
		</nav>

		<div class="container">
			<div class="carousel slide" id="carousel-997188" data-ride="carousel" data-interval="2500" style="margin: 20px;">
				<!-- Carousel Indicators -->
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-997188" class="active" style="background-color: #0275d8;"></li>
					<li data-slide-to="1" data-target="#carousel-997188" style="background-color: #0275d8;"></li>
					<li data-slide-to="2" data-target="#carousel-997188" style="background-color: #0275d8;"></li>
					<li data-slide-to="3" data-target="#carousel-997188" style="background-color: #0275d8;"></li> <!-- New indicator for 4th slide -->
				</ol>
		
				<!-- Carousel Inner (Slides) -->
				<div class="carousel-inner">
					<!-- First Slide -->
					<div class="carousel-item active">
						<a href="https://example.com/first-slide" target="_blank">
							<img class="d-block w-100" alt="Carousel Bootstrap First" src="../img/header1.jpg" style="width: 100%; height: 400px; object-fit: contain; margin: 0 10px;">
						</a>
					</div>
		
					<!-- Second Slide -->
					<div class="carousel-item">
						<a href="https://example.com/second-slide" target="_blank">
							<img class="d-block w-100" alt="Carousel Bootstrap Second" src="../img/header2.jpg" style="width: 100%; height: 400px; object-fit: contain; margin: 0 10px;">
						</a>
					</div>
		
					<!-- Third Slide -->
					<div class="carousel-item">
						<a href="https://example.com/third-slide" target="_blank">
							<img class="d-block w-100" alt="Carousel Bootstrap Third" src="../img/header3.jpg" style="width: 100%; height: 400px; object-fit: contain; margin: 0 10px;">
						</a>
					</div>
		
					<!-- Fourth Slide -->
					<div class="carousel-item">
						<a href="https://example.com/fourth-slide" target="_blank">
							<img class="d-block w-100" alt="Carousel Bootstrap Fourth" src="../img/header4.jpg" style="width: 100%; height: 400px; object-fit: contain; margin: 0 10px;">
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="card rounded-3 mb-4 bought-cart" id="purchase-message-container" style="display:none;">
		<div class="bought-cart-content text-center">
		<img src="../img/emptycart.png" alt="Empty Cart" class="empty-cart-icon">
		  <h1 class="bought-cart-message">¡Gracias por tu compra!</h1>
		  <p class="bought-cart-subtext">Tu compra ha sido realizada con éxito. ¡Vuelve pronto!</p>
		</div>
	  </div>
	  
        <div id="carrito-card"></div>
</div>

				
	<div class="footer-section" style="width: 100%; padding: 20px 0; background-color: transparent; border-top: 0.5px solid rgba(0, 0, 0, 0.1); border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);">

		<div class="container" style="max-width: 1200px; margin: 0 auto;">
	  
		  
		  <div class="footer-content" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; padding: 20px 20px;">
	  
			
			<div class="left-section" style="flex-basis: 15%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px; padding-right: 10px;">
			  <img src="../img/favicon.png" alt="Favicon Logo" style="width: 50px; height: 50px;">
			  <div style="font-weight: bold; font-size: 18px; color: black; margin-top: 10px; text-align: center;">
				Supermercados Noche
			  </div>
			</div>
	  
			
			<div class="left-center" style="flex-basis: 30%; display: flex; flex-direction: column; font-size: 16px; margin-bottom: 20px; padding-right: 10px;">
			  
			 
			  <div class="links-title" style="font-weight: bold; margin-bottom: 10px; color: black;">Links de interés</div>
			  <a href="#" style="text-decoration: none; color: black; margin-bottom: 8px;">Preguntas frecuentes</a>
			  <a href="#" style="text-decoration: none; color: black; margin-bottom: 8px;">Medios de pago y envíos</a>
			  <a href="#" style="text-decoration: none; color: black; margin-bottom: 8px;">Términos y Condiciones</a>
			  <a href="#" style="text-decoration: none; color: black; margin-bottom: 8px;">Aviso de Privacidad</a>
			  <a href="#" style="text-decoration: none; color: black; margin-bottom: 8px;">Aviso de Cookies</a>
			  
			  
			  <div class="links-title" style="font-weight: bold; margin-top: 20px; color: black;">Redes Sociales</div>
			  <a href="https://www.instagram.com" style="text-decoration: none; color: black; margin-bottom: 8px;">Instagram</a>
			  <a href="https://www.facebook.com" style="text-decoration: none; color: black; margin-bottom: 8px;">Facebook</a>
			  <a href="https://www.linkedin.com" style="text-decoration: none; color: black; margin-bottom: 8px;">Linkedin</a>
			</div>
	  
			
			<div class="right-center" style="flex-basis: 45%; display: flex; flex-direction: column; font-size: 16px; margin-bottom: 20px;">
			  <div class="atencion-title" style="font-weight: bold; margin-bottom: 10px; color: black;">Atención al cliente</div>
			  <a href="mailto:contacto@example.com" style="text-decoration: none; color: black; margin-bottom: 8px;">Escribinos</a>
			  <a href="tel:08004440570" style="text-decoration: none; color: black; margin-bottom: 8px;">0800 444 0570</a>
			  <a href="https://wa.me/1234567890" style="text-decoration: none; color: black; margin-bottom: 8px;">Contacto por Whatsapp</a>
			  
			 
			  <div class="horario" style="margin-top: 20px; color: black;">Horario de Atención: Lunes a Viernes de 9 a 18 hs</div>
			  
			  
			  <div class="legal-notices" style="margin-top: 20px;">
				<a href="#" style="text-decoration: none; color: black; margin-bottom: 8px;">Botón Arrepentimiento</a>
				<a href="#" style="text-decoration: none; color: black;">Defensa de las y los Consumidores Para reclamos. Ingrese aquí</a>
			  </div>
			</div>
	  
		  </div>
		</div>
	  </div>
	<div class="row">
		<div class="col-md-12" >
			
			<address class ="directionDescription">
				 <strong>Supermercados Noche, Inc.</strong><br> calle 877 <br> San Francisco Solano, CA 94107<br> <abbr title="Telefono">Telefono:</abbr> (123) 456-7890
			</address>
		</div>
	</div>
</div>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script type="module" src="../js/CarritoInit.js"></script>
<script type="module" src="../js/eventos/LoginButton.js"></script>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>